<?php

return [
	'Ангарск',
	'Байкальск',
	'Бирюсинск',
	'Братск',
	'Вихоревка',
	'Зима',
	'Иркутск',
	'Нижнеудинск',
	'Юрты',
	'Чунский',
	'Саянск',
	'Тулун',
	'Черемхово',
	'Абакан',
	'Зыково',
	'Берёзовка',
	'Емельяново',
	'Дивногорск',
	'Железногорск',
	'Канск',
	'Усолье-Сибирское',
	'Тайшет',
	'Красноярск',
	'Лесосибирск'
];
